<body>
  <h2 class= "title">注文情報入力</h2>
  <form>
    <%= form_with model: @order, url: customers_orders_check_path, method: :posr, local: true do |f| %>
    <div class ="payment-radio"></div>
      <strong>支払い方法</strong>
        <%= f.radio_button :payment_method, :クレジットカード%>
        <%= f.label :payment_method, "クレジットカード", { value: 0 }  %>
        <%= f.radio_button :payment_method, :銀行振込%>
        <%= f.label :payment_method, "銀行振込", { value: 1 }  %>
    <div class = "address-radio">
      <strong>お届け先</strong>
        <%= f.radio_button :postal_code, :address%>
        <%= f.label :posttal_code, @customer.postal_code %>
        <%= f.label :address, @customer.address %>
       
     
      <%= f.submit '確認画面へ進む', class: "btn btn-success" %>
    <% end %>
  </form>
</body>