<body>
  <h2 class= "title">注文情報入力</h2>
    <%= form_with  model: @order, url: {controller: 'orders', action: 'check' }, local: true do |f| %>
    <div class ="payment-radio"></div>
      <strong>支払い方法</strong>
        <%= f.radio_button :payment_method, :"クレジットカード"%>
          <%= f.label  "クレジットカード" %>
        <%= f.radio_button :payment_method, :"銀行振込み" %>
          <%= f.label "銀行振込み" %>
      <strong>新しいお届け先</strong>
        <%= f.text_field :postal_code %>
          <%=f.label :"郵便番号(ハイフンなし)" %>
        <%= f.text_field :address %>
          <%= f.label :"住所" %>
        <%= f.text_field :name %>
          <%= f.label :"名前" %>

      <%= f.submit '確認画面へ進む', class: "btn btn-success" %>
    <% end %>
</body>