<h2>ジャンル一覧・追加</h2>
<%= render 'layouts/error', obj: @category %>
<%= form_with model: @category, url: admins_categories_path, method: :post, local:true do |f| %>
ジャンル名<%= f.text_field :name %>
<%= f.submit '新規登録',class: "btn btn-success" %>
<% end %>

<h3>ジャンル</h3>
<table>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td>
        <%= category.name %>
      </td>
      <td>
        <%= link_to '編集する',edit_admins_category_path(category), class: "btn btn-success" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

