<h2>ジャンル一覧・追加</h2>
<%= form_with model: @category, local:true do |f| %>
ジャンル名<%= f.text_field :name %>
<%= f.submit '新規登録',class: "btn btn-success" %>
<% end %>

<h3>ジャンル</h3>
<%= @categories.each do |category| %>
<%= category.name %>
<%= link_to '編集する',edit_admins_category_path(category), ,class: "btn btn-success" %>
<% end %>

