
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col1-md-11"><h2>商品編集</h2></div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
    <%= form_with model: [:admin,@item], url: admins_item_path, method: :put, local:true do |f| %>
      <table class="table">
        <tr>
          <th style="border:none;"><label for ="InputImage">商品画像</label></th>
          <th style="border:none;"><%= f.attachment_field :image %></th>
        </tr>
        <tr>
          <th style="border:none;"><lavel for ="InputName">商品名</lavel></th>
          <th style="border:none;"><%=f.text_field :name, size: "35%" %></th>
        </tr>
        <tr>
          <th style="border:none;"><lavel for ="InputIntroduction">商品説明</lavel></th>
          <th style="border:none;"><%=f.text_area :introduction, size: "35x5" %></th>
        </tr>
        <tr>
          <th style="border:none;">ジャンル</th>　
          <th style="border:none;"><%=f.collection_select :category_id, @categories, :id, :name, {prompt: "選択してください"}, size: "1x35" %></th>
        </tr>
        <tr>
          <th style="border:none;"><label for="InputPrice">税抜き価格</label></th>
          <th style="border:none;"><%=f.text_field :price, size: "35%" %></th>
        </tr>
        <tr>
          <th style="border:none;">販売ステータス</th>
          <th style="border:none;">
            <div class="form-check">
             販売中<%=f.radio_button :is_active, true %>
             販売停止中<%=f.radio_button :is_active, false %>
            </div>
          </th>
      </table>
      <div style="text-align: center">
        <%= f.submit '変更を保存', class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
