<div class = "container">
  <div class= "row">
    <div class ="mx-auto">
     <h2>商品新規登録</h2>
     <%= form_with model: [:admin,@item], url: admins_items_path, method: :post, local:true do |f| %>
    <form>
      <div class="form-grop row">
        <label for ="InputImage">商品画像</label>
          <%= f.attachment_field :image %>
      </div>
      <div class="form-group row">
        <lavel for ="InputName">商品名</lavel>
          <%=f.text_field :name, placeholder: "商品名"%>
      </div>
      <div class="form-group row">
        <lavel for ="InputIntroduction">商品説明</lavel>
          <%=f.text_area :introduction, placeholder: "ここに説明文を記述します" %>
      </div>
      <div class= "form-group row">
        <label>ジャンル</label>
          <%=f.collection_select :category_id, @categories, :id, :name, {prompt: "選択してください"} %>
      </div>
      <div class="form-group row">
        <label for="InputPrice">税抜き価格</label>
         <%=f.text_field :price, placeholder: 1000 %>円
      </div>
      <div class="status-radio form-group-inline">
       <label>販売ステータス</label>
         販売中<%=f.radio_button :is_active, true %>
         販売停止中<%=f.radio_button :is_active, false %>
      </div>
      <%= f.submit '新規登録', class: "btn btn-success" %>
    </form>
    <% end %>
    </div>
  </div>
</div>
