<div class="container">
  
  <% if flash[:notice] %>
  <div class="flash text-success">
   <%= flash[:notice] %>
  </div>
 <% end %>
  

    <div class="welcome">
    <div style="text-align:center;">
      <%= image_tag 'cake.jpg' %>
        <h4>ようこそ、ながのCAKEへ！
        <br>このサイトは、ケーキ販売のECサイトになります。
        <br>会員でない方も商品の閲覧はできますが、
        <br>購入には会員登録が必要になります。
        </h4>
    </div>
    </div>


  <div class="row">
    <h2 class="new-item-title">新着商品</h2>
  </div>

  <div class="row">
      <% @new_items.each do |new_item|%>
    <div class="new-item-list d-flex">
      <ul>
      <li><%= attachment_image_tag new_item, :image, format: 'jpeg', fallback: "no_image.jpg", size:"170x110" %></li>
      <li><%= new_item.name %><%= new_item.price%></li>
      </ul>
      <% end %>
    </div>
  </div>
  <div style="text-align:right;">
    <%= link_to "全ての商品を見る", customers_items_path%>
  </div>

</div>
