<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col1-md-3"><h3>ログイン</h3></div>
  </div>
  
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
  
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col1-md-3"><h5>会員の方はこちらからログイン</h5></div>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <tr>
      <td><%= f.label :メールアドレス %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50%" %></td>
    </tr>
    <tr>
      <th><%= f.label :パスワード %><br /></th>
      <td><%= f.password_field :password, autocomplete: "current-password", size: "50%" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
    </tr>
    </div>
  </table>
  <% end %>
  </div>
</div>

<div class="row2"></div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-3"><%= render "customers/shared/links" %></div>
</div>

